.show-chat {
  display: block;
}

.hidden-chat {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px 30px;
}
/* ---------------------
float button
-----------------------*/
.float-icon {
  margin-top: 22px;
}

.float-button {
  height: 60px;
  width: 60px;
  float: right;
  border-radius: 50%;
  text-align: center;
  background-color: #0fcebc;
  color: white;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.float-buton-group {
  margin-top: 5px;
}

.chat {
  width: 400px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chat-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25px;
  flex: 0 1 25px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}
.chat-header .title,
.chat-header .sub-title {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.chat-header .sub-title {
  color: #fff;
  font-size: 8px;
  letter-spacing: 1px;
}

.chat-icon {
  position: absolute;
  left: 15px;
}

.chat-icon i {
  margin-top: 3px;
  font-size: 20px;
  color: #fff;
}
/**
Action box
*/
.action-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25px;
  flex: 0 1 25px;
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;
}
/*--------------------
Message Box
--------------------*/
.message-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25px;
  flex: 0 1 25px;
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255);
  font-size: 14px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  width: 300px;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #0fcebc;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.message-box .message-submit:hover {
  background: #0fcebc;
}

/*------------------------
Chat Close
-------------------------*/
.close-chat {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;

  > * {
    padding: 0 3px;
  }
}

/*------------------------
Chat Message
-------------------------*/
.user-msg {
  float: right;
  color: #fff;
  text-align: right;
  background: -webkit-linear-gradient(330deg, #248a52, #257287);
  background: linear-gradient(120deg, #248a52, #257287);
  border-radius: 10px 10px 0 10px;
  padding: 5px 12px;
  margin: 2px 12px 2px 2px;
  font-size: 12pt;
}
.bot-msg {
  padding-left: 10px;
  float: left;
  color: #fff;
  font-size: 12pt;
}

.messages-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 99%;
  width: 100%;
  overflow-y: auto;
}

.clearfix {
  clear: both;
}

/*----------------------
chat typing
------------------------*/
.chat-typing {
  margin: 10px 0px 0px 10px;
  float: left;
  padding-bottom: 10px;
}

.chat-typing--bubbles span {
  display: inline-block;
  background-color: #b6b5ba;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
  animation: bob 2s infinite;
}

.chat-typing--bubbles span:nth-child(1) {
  animation-delay: -1s;
}

.chat-typing--bubbles span:nth-child(2) {
  animation-delay: -0.85s;
}

.chat-typing--bubbles span:nth-child(3) {
  animation-delay: -0.7s;
  margin-right: 0;
}

@keyframes bob {
  10% {
    transform: translateY(-10px);
    background-color: #9e9da2;
  }

  50% {
    transform: translateY(0);
    background-color: #b6b5ba;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #504e4e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
