.toggle {
  cursor: pointer;
  display: inline;
  user-select: none;
}

.toggle.active {
  color: lightsteelblue;

  span.content {
    text-shadow: 1px 1px green;
  }
}

.oav-ai-chatbox {
  display: none;
}

.toggle.active + .oav-ai-chatbox {
  display: block;
}
