.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown.active .dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  color: black;
}

#chkTypingMode {
  margin-left: 0;
}
