:host {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 114px;
  height: 114px;
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  margin: 0px;
  outline: none;
  background-color: transparent;
  overflow: visible;
  z-index: 2147483647;
  box-sizing: border-box;
}
